canvas{
  background: rgba(200,230,120,0.9);

}
body{
	margin:0;
	background:rgba(150,200,130,0.8);
}
div{
        
    background-color:#0ff0f0;
    position:relative;
    width:100px;
    height:50px;
    display: block;
    
}