html,
body {
    margin: 0;
    padding: 0;
}

.container {
    scroll-behavior: smooth;
}

.container>div {}

.landingpage {
    width: 100vw;
    height: 100vh;
    background: url(/pubgpics/standin.jpg) 100vw 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.register {
    position: relative;
    width: 100vw;
    height: 100%;
    background: url(/pubgpics/solocrate.jpg) 100vw 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-bottom: 30px;
}

.details {
    width: 100vw;
    height: 100%;
    background-size: cover;
    object-fit: contain;
    background-attachment: scroll;
    background: url(/pubgpics/standlookback.jpg);
    background-position: center;
}

.prize {
    width: 100vw;
    height: 100vh;
}

.contact {
    width: 100vw;
    height: 100vh;
}

.title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title img {
    width: 100%;
}

.register-btn {
    background: rgb(33, 196, 0);
    padding: 10px 20px;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 2em;
    bottom: 25%;
    position: absolute;
    left: 50%;
    font-weight: bold;
    transform: translateX(-50%);
    outline: 2px solid white;
    filter: drop-shadow(1px 1px 10px black);
}

nav {
    z-index: 100;
    font-size: 1.1em;
    font-weight: bold;
    position: fixed;
    top: 10px;
    width: 90%;
    height: 40px;
    background: white;
    left: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-50%);
    border-radius: 30px;
    filter: drop-shadow(2px 5px 10px black);
}

nav div :hover {
    color: green;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.form {
    /* position: absolute;
    top: 50%; */
    display: flex;
    flex-direction: column;
    width: 90%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.form input {
    border: none;
    outline: none;
    height: 30px;
    margin: 1px 0px;
    border-radius: 20px;
    padding: 5px 20px;
}

.form input:focus {
    outline: none;
}

.submit {
    align-self: center;
    width: 50%;
    border-radius: 20px;
    flex-basis: 30px;
    border: none;
    outline: none;
    background: rgb(11, 180, 11);
    color: white;
    font-weight: bold;
    font-size: 1em;
}

#screenshot {
    display: none;
}

.file {
    background: rgb(243, 3, 123);
    align-self: center;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 10px black);
}

.submit {
    width: 70%;
    margin-top: 20px;
    filter: drop-shadow(2px 1px 10px black);
}

.form input::placeholder {
    color: red;
    font-weight: bold;
}

.form input {
    color: green;
    font-size: 1em;
    font-weight: bold;
    filter: drop-shadow(1px 1px 5px black);
}

.register-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-wrapper>div {
    margin-top: 20px;
}

.whitespace {
    margin-bottom: 100px;
}

.barcodetab {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 20px;
}

.b-code {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: white;
}

.barrer {
    color: rgb(9, 9, 180);
    font-weight: bold;
    font-size: 1.3em;
}

.upi-id {
    color: rgb(190, 0, 0);
}

.codecard {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    max-width: 150px;
}

.phonepay {
    filter: drop-shadow(2px 2px 10px black);
}

.b-code img {
    width: 100px;
    height: 100px;
}

marquee {
    font-weight: bold;
    color: rgb(211, 2, 2);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.698);
}

.marq-bcode {
    color: rgb(0, 21, 61);
}

.model-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
}

.model {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.close {
    position: absolute;
    top: 100px;
    right: 30px;
    font-size: 2em;
    color: red;
    font-weight: bold;
    filter: drop-shadow(1px 1px 10px black);
    margin: 20px;
}

.model-code {
    margin-top: 100px;
}

.model-container img {
    width: 100%;
    height: 100%;
}

.entryform {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.entryform input {
    border: none;
    flex-basis: 40px;
    font-weight: bold;
    border-bottom: 2px solid greenyellow;
}

.entryform input:focus {
    outline: none;
}

.controls {
    width: 100%;
    margin-top: 40px;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.cardcopy {
    color: green;
    border-radius: 20px;
}

.controls>div {
    width: 100px;
    font-size: 1.2em;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    color: rgb(94, 84, 84);
    font-weight: bold;
    filter: drop-shadow(1px 2px 10px black);
}

.controls .tsubmit {
    background: rgb(5, 216, 5);
}

.controls .cancel {
    background: rgb(204, 5, 5);
}

.instructions {
    margin: 70px 20px 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.698);
    padding: 10px;
    transform: scaleY(0.9) translateY(-50px);
}

a[name="insta"] {
    color: transparent;
}

.instructions>div {
    color: rgb(6, 190, 0);
    font-size: 1.5em;
    font-weight: bold;
}

.instructions ul {
    list-style-type: decimal;
}

.instructions ul li:nth-child(odd) {
    color: rgb(7, 59, 94);
    font-weight: bold;
}

.instructions ul li:nth-child(even) {
    color: rgb(139, 3, 139);
    font-weight: bold;
}

.instructions ul p {
    text-overflow: clip;
    word-wrap: break-word;
    font-size: 1.2em;
}

.details .note {
    background: rgba(255, 0, 0, 0.534);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.3em;
}

.contact {
    background: linear-gradient(45deg, red, blue);
}

.contact a {
    height: 70px;
}

.contact-wrapper {
    margin: 0 10px 5px 10px;
    /* background: rgb(136, 51, 51); */
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: bolder;
}

.contact-card {
    color: blue;
    background: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 0.7em;
    text-align: center;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(1px 1px 10px black);
}

.contact-card img {
    width: 300px;
    flex-basis: 300px;
    max-height: 300px;
    border-radius: 50%;
    transform: scale(0.9, 0.9);
    filter: contrast(100%) brightness(100%) drop-shadow(2px 2px 5px black);
}

.contact-card .name {
    color: rgb(209, 118, 0);
}

.contact-card .fb::before {
    content: url(/assets/logo-facebook.svg);
    width: 40px;
    height: 40px;
    display: inline-block;
}

.contact-card a {
    display: inline-block;
}

.social {
    display: flex;
    justify-content: space-around;
}

.contact-card .wa {
    content: url(/assets/logo-whatsapp.svg);
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 20px;
}

.number::before {
    content: url(/assets/ios-call.svg);
    width: 20px;
    height: 20px;
    transform: translateX(-100%);
    display: inline-block;
}

.prize .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prize {
    background: linear-gradient(-45deg, rgb(212, 3, 142), rgb(0, 21, 212))
}

.card {
    padding: 20px 20px;
    margin: 10px 20px;
    filter: drop-shadow(1px 1px 5px black);
    background: white;
    align-self: stretch;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.prizemoney {
    color: rgb(29, 126, 0);
}

.firstprize>div {
    color: rgb(255, 157, 0);
}

.kill {
    color: red;
}

.prize .note {
    margin-top: 100px;
    font-size: 20px;
}

.prizeheader {
    background: orange;
    font-weight: bold;
    font-size: 2em;
    border-radius: 20px;
}

.dev {
    padding: 5px auto;
    font-size: 10px;
    color: white;
    background: rgb(2, 2, 32);
    border-radius: 0;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.698);
    color: rgb(0, 172, 77);
}

.disabled {
    display: none;
}

.codecard {
    transform: scale(.8, .8);
}

.map {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    font-weight: bold;
    font-size: 3em;
    color: orange;
}

.fee {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    width: 100%;
}

.fee>div {
    color: orange;
}

.fee p {
    text-align: center;
}

.lastday {
    font-size: 2em;
    position: absolute;
    width: 100%;
    font-weight: bold;
    text-align: center;
    top: 30%;
    color: green;
    background: rgba(255, 255, 255, 0.575);
    margin-bottom: 20px;
}

.yellow {
    color: orange;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

@media screen and (min-width:740px) {
    .container {
        display: none;
    }
    .disabled {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background: black;
        font-weight: bold;
        color: rgb(209, 136, 1);
        display: flex;
        align-items: center;
        text-align: center;
    }
    .disabled div {
        font-size: 3em;
        justify-self: center;
        flex: 1;
    }
}