html{
 margin: 0px;
 width:100%;
 height: 100%;
}

body{
	background:#22313F;
	animation: animatepic 5s infinite;
	background-size:cover;

}
.container{
	width: 100%;
	height:100%;
	position: absolute;
	transform: translate(50%,50%);
	
}
#text1{
	font-size: 50px;
	font-weight: 50px;
	font-family: sans-serif;
    margin-bottom:20px;
    animation: animate1 5s infinite;
}
#text2{
	font-size: 40px;
	font-weight: 30px;
	font-family: sans-serif;
	color:#fff;
	animation: animate 5s infinite;
	animation-delay: -1s;
}
@keyframes animate{
	0%{
		color:#fff;

	    transform: translate3d(0px,0px,0px);
        transform: rotate3d(1,1,1,0deg);


	}
	100%{
		color: #000;   
		transform: translate3d(-50px,-50px,50px);
		transform: rotate3d(1,1,1,360deg);

	}
}@keyframes animate1{
    0%{
		color:#fff;
        transform: translate3d(0px,0px,0px);
	}
	100%{
		color: #000;
	    transform: translate3d(-50px,-50px,50px);
	}
}
@keyframes animatepic{
	0%{
		background: url("i1.jpg");
		background: hsl(30,30,30);
	}
	50%{
		background: url("i2.jpg");
	}

	100%{
		background: url("i3.jpg");
	    background: hsl(100,30,130);

	}
}
